* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    background-color: red;
    padding: 8rem;
}

.center {

}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

.search {
    flex-basis: 40%;
    display: flex;

}

.search__input {
    padding: .7px 2px;
    border: none;
    background-color: lavender;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;

}

.search__button {
    border: none;
    background-color: lavender;
}

.search__icon {
    height: 2rem;
    width: 2rem;

}

.user-nav {
    display: flex;
    justify-content: flex-start;
}

.user-nav > * {

    display: flex;
    align-items: center;
}

.user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;

}

.user-nav__notification {
    height: 1.75rem;
    width: 1.75rem;

}

.user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;

}

.content {
    display: flex;
}

.sidebar {
    background-color: orange;
    flex-basis: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
}

.side-nav__item:not(:last-child) {
    margin-bottom: .5rem;
}

.side-nav__link {
    text-decoration: none;
    padding: 1.5rem 3rem;
    position: relative;
    display: flex;
    align-items: center;
}

.side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
}

.legal {
    font-size: 1.2rem;

    text-align: center;
    padding: 2.5rem;
}

.gallery {
    display: flex;
}

.gallery__photo {
    width: 100%;
    display: block;
}

.hotel-view {

    flex: 1;
}

.overview {
    display: flex;
    align-items: center;
    background-color: white;
}

.overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
}

.overview__stars {
    display: flex;
    margin-right: auto;
}

.overview__icon-star {
    width: 1.75rem;
    height: 1.75rem;
}

.overview__location {
    font-size: 1.2rem;

    display: flex;

}

.btn-inline {
    border: none;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;

}

.overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
}

.overview__rating {

    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.details {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: grey;
}

.description {
    background-color: #fff;

    padding: 3rem;

    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;

    flex-wrap: wrap;
}

.list__item {

    flex: 0 0 50%;
    margin-bottom: .7rem;
}

.recommend {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.recommend__friends {
    display: flex;
    flex-direction: row;
}

.recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff
}

.recommend__photo:not(:last-child) {
    margin-right: -2rem;
}

.user-reviews {

    display: flex;

    flex-direction: column;
    align-items: center;
}

.review{
    padding: 3rem;
    margin-bottom: 3.5rem;
    background-color: #fff;
}

.review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.review__user{
    display: flex;
    align-items: center;
}

.cta {
    padding: 3.5rem 0;
    text-align: center;
    background-color: white;
}

.cta__book-now {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}